/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
:root{
    --primary-color: #0A1128;
    --light-gray-color: #eee;
    --white-color: white;
    --gap: 3rem;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
h1{font-size: 6rem;} h2{font-size: 5.5rem;} h3{font-size: 5rem;}
h4{font-size: 4.5rem;} h5{font-size: 4rem;} h6{font-size: 3.5rem;
}
.section{
    min-height: 100vh;
}
.main-bg{
    background-image: url(./img/main-bg.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}
.white-bg{
    background-color: var(--white-color);
    color: #0A1128;
}
.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10rem var(--gap);
}
.menu{
    z-index: 1;
    position: fixed;
    top: 0; left: 0; right: 0;
    width: 100%;
    background-color: var(--white-color);
    border-bottom: 0.1rem solid var(--light-gray-color);
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.menu-content h1{
    font-size: 2.3rem;
    color: var(--primary-color);
    padding: 0 2rem;
}
.menu nav ul{
    display: flex;
}
.menu nav ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.menu nav ul li a:after{
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}
.menu nav ul li a:hover:after{
    left: 25%;
    width: 50%;
}
.menu-spacing{
    height: 6.3rem;
}
.intro-content{
    position: relative;
    top: 0rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}
.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-text-content h2{
    font-size: 6rem;
    margin-bottom: 5rem;
    line-height: 1.2;
    text-transform: uppercase;
}
.intro-img img,
.intro-img svg{
    max-height: 100%;
    height: auto;
}