/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
:root{
    --primary-color: #0A1128;
    --secondary-color: crimson;
    --light-gray-color: #eee;
    --white-color: white;
    --gap: 3rem;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
h1{font-size: 6rem;} 
h2{
    font-size: 6rem;
    margin-bottom: 5rem;
    line-height: 1.2;
    text-transform: uppercase;
} 
h3{font-size: 5rem;} h4{font-size: 4.5rem;}
h5{font-size: 4rem;} h6{font-size: 3.5rem;
}
p{
    margin-bottom: 3rem;
}
a{
    color: var(--primary-color);
}
.section{
    min-height: 100vh;
}
.main-bg{
    background-image: url(./img/main-bg.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}
.white-bg{
    background-color: var(--white-color);
    color: #0A1128;
}
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}
.menu{
    z-index: 1;
    position: fixed;
    top: 0; left: 0; right: 0;
    width: 100%;
    background-color: var(--white-color);
    border-bottom: 0.1rem solid var(--light-gray-color);
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.menu-content h1{
    font-size: 2.3rem;
    color: var(--primary-color);
    padding: 0 2rem;
}
.menu nav ul{
    display: flex;
}
.menu nav ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.menu nav ul li a:after{
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}
.menu nav ul li a:hover:after{
    left: 25%;
    width: 50%;
}
.menu-spacing{
    height: 6.3rem;
}
.intro-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}
.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-img svg{
    max-height: 100%;
    height: auto;
}
.top3-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    text-align: center;
}
.grid-one-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}
.grid-main-heading{
    margin-bottom: 1rem;
}
.grid-description{
    margin-bottom: 8rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3{
    font-size: 3rem;
    position: relative;
    padding-bottom: 3rem;
    padding-left: 5rem;
}
.grid h3:before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}
.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
    cursor: pointer;
}
.gallery-img img{
    transition: all 300ms ease-in-out;
}
.gallery-img img:hover{
    transform: translate(-3%, 3%) rotate(5deg) scale(1.2);
}
.responsive-table{
    overflow-x: auto;
}
table{
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}
caption{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-style: italic;
    text-align: left;
}
thead tr, tfoot tr{
    background-color: var(--light-gray-color);
}
tfoot tr{
    text-align: right;
}
th, td{
    border: 0.1rem solid var(--light-gray-color);
    padding: 1rem;
}
.contact-form{
    grid-column: span 2;
}
.form-grid{
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}
.form-group{
    flex: 1 1 32rem;
}
.form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
.form-group label{
    display: block;
    margin-bottom: 1rem;
}
.form-group input,
.form-group textarea{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}
.form-group input:focus,
.form-group textarea:focus{
    box-shadow: 0 0 1rem 0.2rem var(--secondary-color);
}
.full-width{
    width: 100%;
    flex: 1 1 100%;
}
.form-group button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
    background: var(--white-color);
    color: var(--primary-color);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
#footer-img{
    width: 5rem;
}
.close-menu{
    display: none;
}
.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 4rem;
    font-size: 4rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 0.3rem 1rem;
    border-radius: 50%;
    border: 0.1rem solid var(--primary-color);
    transform: rotate(-90deg);
}
@media (max-width: 800px){
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }
    .gallery-img{
        max-width: 100%;
        max-height: 100%;
    }
    .gallery-img img{
        width: 100%;
    }
    .menu, .menu-spacing{
        display: none;
    }
    .close-menu:checked~.menu{
        display: flex;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .menu-content{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .menu-content ul{
        flex-direction: column;
        text-align: center;
    }
    .menu-content h1{
        margin-bottom: 1.2rem;
    }
    .close-menu-label:after{
        content: "☰";
        text-align: center;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        cursor: pointer;
        height: 3rem;
        width: 3rem;
        padding: 1rem;
        background-color: var(--primary-color);
        color: var(--white-color);
    }
    .close-menu:checked~.close-menu-label:after{
        content: "X";
    }
    @media (max-width: 390px){
        html{
            font-size: 50%;
        }
    }
}